<h1>Shop</h1>

<a href="{% url 'dashboard' %}" 
   style="position: fixed; top: 20px; right: 20px; padding: 8px 15px; background-color: #95a5a6; color: white; text-decoration: none; border-radius: 4px;">
  ← GO to Dashboard
</a>

{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}</p>
  <a href="/accounts/logout/">Logout</a>
{% else %}
  <a href="/accounts/login/">Login</a>
{% endif %}

<hr>

{% for product in products %}

  <div style="border:1px solid #ccc; padding:10px; margin:10px;">

    <h3><a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></h3>

    <p>₹{{ product.price }}</p>

    <p>Stock: {{ product.stock }}</p>

    <img src="{{ product.image.url }}" width="150" style="cursor: pointer;" onclick="window.location='{% url 'product_detail' product.id %}';">

    <br><br>

    <a href="{% url 'product_detail' product.id %}">
      View Details
    </a>

  </div>

{% empty %}
  <p>No products available</p>
{% endfor %}